angularapp/src/app/checking-component/checking-component.component.css
angularapp/src/app/checking-component/checking-component.component.html
angularapp/src/app/checking-component/checking-component.component.spec.ts
angularapp/src/app/checking-component/checking-component.component.ts
