<div class="container">
	<div class="row mt-5 mb-2">
		<div class="col-12">
      <a routerLink="/credentials" class="landing-links text-center">
        <div class="shadow p-3 content">
          <h2 class="p-2">Credentials Locker</h2>
          <h5 style="color: green;">Vaults: 0</h5>

        </div>

      </a>

		</div>
	</div>
	<div class="row mt-5 mb-2">
		<div class="col-12">

			<a routerLink="/bank" class="landing-links text-center">
        <div class="shadow p-3 content">
          <h2 class="p-2">Bank Locker</h2>
          <h5 style="color: green;">Vaults: 0</h5>

        </div>

      </a>
		</div>
	</div>
	<div class="row mt-5 mb-2">
		<div class="col-12">

			<a routerLink="/media" class="landing-links text-center">
        <div class="shadow p-3 content">
          <h2 class="p-2">Media Locker</h2>
          <h5 style="color: green;">Vaults: 0</h5>

        </div>

      </a>
		</div>
	</div>


</div>


<router-outlet></router-outlet>
