<div class="row">
    <div class="col">
        <div class="leftSide">
            <nav class="navbar navbar-light bg-light justify-content-center">
                <h3 class="navbar-brand justify-content-between Credential-locker-text">Credential locker</h3>

                <form class="form-inline new_button">
                    <button class="btn btn-primary " type="submit">New</button>
                </form>

            </nav>
            <hr class="horiz-line">



            <!-- ------------------GRID PART---------------------------------------- -->


            <div class="clsScroll">
                <div class="fieldTypes">
                    <div class="fieldsContainer">
                        <div class="container inside-data">
                            <div class="row">
                                <div class="col-sm title">
                                    Facebook
                                </div>
                                <div class="col-sm">
                                    <div class="row"> created on </div>
                                    <div class="row">1/1/2020</div>
                                </div>

                                <div class="col-sm">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-4 ">
                                                <button class="btn  " type="submit">
                                                    <img
                                                        src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/30/000000/external-edit-interface-kiranshastry-solid-kiranshastry-1.png" />
                                                </button>
                                            </div>


                                            <div class="col-sm-4 order-last">
                                                <button class="btn  " type="submit">
                                                    <img src="https://img.icons8.com/ios/30/000000/empty-trash.png" />
                                                </button>
                                            </div>

                                            <div class="col-sm-4 order-first">
                                                <button class="btn  " type="submit">
                                                    <img
                                                        src="https://img.icons8.com/ios-glyphs/30/000000/visible--v1.png" />

                                                </button>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>


                    </div>
                </div>


            </div>


        </div>
    </div>



    <!-- -----------------------------------RIGHT SIDE SEARCH TABS PART-------------------------------------- -->

    <div class="col">
        <div class="rightSide">
            <form [formGroup]="myForms">
                <div class="row upper-part">
                    <div class="row upper-search">
                        <div class="col justify-content-center">
                            <div class="input">
                                <input type="text" class="form-control" formControlName="passcode"
                                    placeholder="Enter Your password to continue">
                            </div>
                            <div class="errors"
                                *ngIf="myForms.get('email').invalid && (myForms.get('email').touched || myForms.get('email').dirty)">

                                <div style="color: red;" *ngIf="myForms.get('email').hasError('required')">
                                    Email is required
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <button class="btn btn-primary " [disabled]="!myForms.valid" type="submit">check</button>
                        </div>
                    </div>
                </div>
            </form>
            <hr class="horiz-line">
            <div class="row lower-part">
                <form [formGroup]="updateform">
                    <div class="row">
                        <div class="box">
                            <div class="row">
                                <div class="col justify-content-center">
                                    <div class="input-1">
                                        <input type="text" class="form-control" formControlName="source"
                                            placeholder="Enter the Source name">
                                    </div>
                                    <div class="errors"
                                        *ngIf="updateform.get('Source').invalid && (updateform.get('source').touched || updateform.get('source').dirty)">

                                        <div style="color: red;" *ngIf="updateform.get('source').hasError('required')">
                                            Email is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col justify-content-center">
                                    <div class="input-2">
                                        <input type="text" class="form-control" formControlName="username"
                                            placeholder="Enter Your Username">
                                    </div>
                                    <div class="errors"
                                        *ngIf="updateform.get('username').invalid && (updateform.get('username').touched ||updateform.get('username').dirty)">

                                        <div style="color: red;"
                                            *ngIf="updateform.get('username').hasError('required')">
                                            Email is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col justify-content-center">
                                    <div class="input-3">
                                        <input type="text" class="form-control" formControlName="password"
                                            placeholder="Enter Your password ">
                                    </div>
                                    <div class="errors"
                                        *ngIf="updateform.get('password').invalid && (updateform.get('password').touched || updateform.get('password').dirty)">

                                        <div style="color: red;"
                                            *ngIf="updateform.get('password').hasError('required')">
                                            password is required
                                        </div>

                                        <div style="color: red;" *ngIf="updateform.get('password').errors.minlength">
                                            Password must be at least 8 characters
                                        </div>

                                        <div style="color: red;" class="error-text"
                                            *ngIf="updateform.get('password').hasError('passwordStrength')">
                                            {{updateform.get('password').errors['passwordStrength']}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col bottom-button">
                                <button class="btn btn-primary " [disabled]="!myForms.valid" type="submit">check</button>
                            </div>
                        </div>
            </div>