<div class="row">
    <div class="col">
        <div class="leftSide">
            <nav class="navbar navbar-light bg-light justify-content-center">
                <h3 class="navbar-brand justify-content-between Credential-locker-text">Credential locker</h3>

                <form class="form-inline new_button">
                    <button class="btn btn-primary " type="submit">New</button>
                </form>

            </nav>
            <hr class="horiz-line">



            <!-- ------------------GRID PART---------------------------------------- -->


            <div class="clsScroll">
                <div class="fieldTypes">
                    <div class="fieldsContainer">
                        <div class="container inside-data">
                            <div class="row">
                                <div class="col-sm title">
                                    Facebook
                                </div>
                                <div class="col-sm">
                                    <div class="row"> created on </div>
                                    <div class="row">1/1/2020</div>
                                </div>

                                <div class="col-sm">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-4 ">
                                                <button class="btn  " type="submit">
                                                    <img
                                                        src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/30/000000/external-edit-interface-kiranshastry-solid-kiranshastry-1.png" />
                                                </button>
                                            </div>


                                            <div class="col-sm-4 order-last">
                                                <button class="btn  " type="submit">
                                                    <img src="https://img.icons8.com/ios/30/000000/empty-trash.png" />
                                                </button>
                                            </div>

                                            <div class="col-sm-4 order-first">
                                                <button class="btn  " type="submit">
                                                    <img
                                                        src="https://img.icons8.com/ios-glyphs/30/000000/visible--v1.png" />

                                                </button>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>


                    </div>
                </div>


            </div>


        </div>
    </div>



    <!-- -----------------------------------RIGHT SIDE SEARCH TABS PART-------------------------------------- -->
    
    <div class="col">
        <div class="rightSide">
            <div class="row upper-part">
                <div class="row upper-search">
                    <div class="col justify-content-center">
                        <div class="input">
                            <input type="text" class="form-control" placeholder="Enter Your password to continue">
                        </div>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary " type="submit">check</button>
                    </div>
                </div>
            </div>

            <hr class="horiz-line">
            <div class="row lower-part">
                <div class="row">
                    <div class="box">
                        <div class="row">
                            <div class="col justify-content-center">
                                <div class="input-1">
                                    <input type="text" class="form-control" placeholder="Enter the Source name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col justify-content-center">
                                <div class="input-2">
                                    <input type="text" class="form-control" placeholder="Enter Your Username">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col justify-content-center">
                                <div class="input-3">
                                    <input type="text" class="form-control" placeholder="Enter Your password ">
                                </div>
                            </div>
                        </div>
                        <div class="col bottom-button">
                            <button class="btn btn-primary " type="submit">new/Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>>