<div class="row">
    <div class="col col-sm-3"></div>
    <div class="col col-sm-5">
        <br /><br /><br />
        <form [formGroup]="myForms">
            <h3>Login</h3>
            <input type="email" formControlName="email" placeholder="Enter email">
            <div class="errors"
                *ngIf="myForms.get('email').touched || myForms.get('email').dirty">

                <div *ngIf="myForms.get('email').hasError('required')" style="color:red">
                    email is required
                </div>
            </div>
            <br>
            <input type="password" formControlName="password" placeholder="Enter password">

            <div style="color:red" class="errors"
                *ngIf="myForms.get('password').invalid && (myForms.get('password').touched || myForms.get('password').dirty)">

                <div *ngIf="myForms.get('password').hasError('required')" style="color:red">
                    password is required
                </div>
            </div>

            <div class="row" id="signup">
                <p> new user ? <a style="color:blue" routerLink="/signup" id="loginLink">Signup</a></p>
            </div>
            <button [disabled]="!myForms.valid" class="btn btn-info">Login</button>
        </form>
    </div>
    <div class="col col-sm-4"></div>
</div>


<router-outlet></router-outlet>
