
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <app-navbar></app-navbar>
  
  <div class="row">
    <div class="col">
        <div class="leftSide">
            
              <div class="flex-container-top">
                <div class="flex-box" (click)="details()">Credentials<br><br>1200</div>
                <div class="flex-box" (click)="details()">Bank Info<br><br>1200</div>
                <div class="flex-box" (click)="details()">Media<br><br>1200</div>  
                <div class="flex-box" (click)="details()">Users<br><br>1200</div>
              </div>

            
            <hr class="horiz-line">



            <!-- ------------------GRID PART---------------------------------------- -->
              <h4 style="text-align: center;">USERS</h4>
            
            <div class="clsScroll">
                <div class="fieldTypes">
                    <div class="fieldsContainer" >
                        <div class="container inside-data">
                            <div class="row">
                                <div class="col-sm title">
                                    User 1
                                </div>
                                <div class="col-sm">
                                    <div class="row">last visit</div>
                                    <div class="row">1/1/2020</div>
                                </div>

                                <div class="col-sm">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-4 ">
                                                <button class="btn  " type="submit">
                                                  <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                                                </button>
                                            </div>


                                            <div class="col-sm-4 order-last">
                                                <button class="btn  " type="submit">
                                                  <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                         </div>
                                    </div>
                                </div>

                            </div>
                           


                        </div>


                    </div>
                    <div class="fieldsContainer">
                        <div class="container inside-data">
                            <div class="row">
                                <div class="col-sm title">
                                    User 2
                                </div>
                                <div class="col-sm">
                                    <div class="row">last visit</div>
                                    <div class="row">1/1/2020</div>
                                </div>

                                <div class="col-sm">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-4 ">
                                                <button class="btn  " type="submit">
                                                  <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                                                </button>
                                            </div>


                                            <div class="col-sm-4 order-last">
                                                <button class="btn  " type="submit">
                                                  <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                         </div>
                                    </div>
                                </div>

                            </div>
                           


                        </div>


                    </div>

                    <div class="fieldsContainer">
                        <div class="container inside-data">
                            <div class="row">
                                <div class="col-sm title">
                                    User 3
                                </div>
                                <div class="col-sm">
                                    <div class="row">last visit</div>
                                    <div class="row">1/1/2020</div>
                                </div>

                                <div class="col-sm">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-4 ">
                                                <button class="btn  " type="submit">
                                                  <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                                                </button>
                                            </div>


                                            <div class="col-sm-4 order-last">
                                                <button class="btn  " type="submit">
                                                  <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                         </div>
                                    </div>
                                </div>

                            </div>
                           


                        </div>


                    </div>
                    <div class="fieldsContainer" >
                        <div class="container inside-data">
                            <div class="row">
                                <div class="col-sm title">
                                    User 4
                                </div>
                                <div class="col-sm">
                                    <div class="row">last visit</div>
                                    <div class="row">1/1/2020</div>
                                </div>

                                <div class="col-sm">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-4 ">
                                                <button class="btn  " type="submit">
                                                  <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                                                </button>
                                            </div>


                                            <div class="col-sm-4 order-last">
                                                <button class="btn  " type="submit">
                                                  <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                         </div>
                                    </div>
                                </div>

                            </div>
                           


                        </div>


                    </div>

                    
                </div>

                


            </div>
            


        </div>
    </div>
    



    <!-- -----------------------------------RIGHT SIDE SEARCH TABS PART-------------------------------------- -->
    
    <div class="col">
        <div class="rightSide">
            <div class="row upper-part">
                <div class="row upper-search">
                    <div class="col justify-content-center">
                        <div class="input">
                            <input type="text" class="form-control" placeholder="Enter Your password to continue" #txt>
                        </div>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary " type="submit" >Check</button>
                    </div>
                </div>
            </div>

            <hr class="horiz-line">
            <div class="row lower-part">
                <div class="row">
                    <div class="box">
                        <div class="row">
                            <div class="col justify-content-center">
                                <div class="input-1">
                                    <input type="text" class="form-control" placeholder="User Email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col justify-content-center">
                                <div class="input-2">
                                    <input type="text" class="form-control" placeholder="User Name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col justify-content-center">
                                <div class="input-3">
                                    <input type="text" class="form-control" placeholder="Password ">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col justify-content-center">
                              <div class="input-3">
                                  <input type="text" class="form-control" placeholder="User type ">
                              </div>
                          </div>
                      </div>
                        <div class="col bottom-button">
                            <button class="btn btn-primary " type="submit">New/Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>>


     
</body>
</html> 
