<div class="navbar-s">
    <nav class="navbar navbar-light  justify-content-between" style="border-radius: 0.8em; margin-top: .2%; background-color: #c774eb; height: 4.5rem ;">
        <a class="navbar-brand" style="margin-left:4rem;">
            <h1 style="color: black;  margin-bottom: 2%">Wise Defender</h1></a>
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group" role="group" >
              <button class="btn btn-outline-success"  style="margin-right:2rem; color: white ;" id="homeButton">Home</button>
            </div>
            <div class="btn-group" role="group" >
              <button class="btn btn-danger"   style="margin-right:2rem; font-size: medium;" id="logoutButton">Logout</button>
            </div>
          </div>
      </nav>
    </div>